
.hcontainer{

   display: flex;
   justify-content: flex-end;
    
 
   
}
.arrow{
    border-top:45px solid black;
    border-right:45px solid white;
    border-bottom:45px solid white;
    border-left:45px solid white;
    margin-right: 10px;

}
.arrow1{
    border-top:45px solid white;
    border-right:45px solid white;
    border-bottom:45px solid white;
    border-left:45px solid white;
   
}

.bgimg{
    width:85rem;
    height:40rem;

}
.bgimg-holder{
    width:85rem;
    height:40rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url('../assets/back.jpg');
    
  
}
.subtext{
    color:white;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    margin-right: auto;
    
  
}
.toptext{
    color:white;
    font-family: 'Audiowide', cursive;
    font-size: 4rem;
    margin-right: auto;
    
}